body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
section{
    padding: 10px;
}

/* section general infos */ 

#general {
    height: 90vh;
}

.container {
    min-width: 300px;
    width: 80%;
    margin: auto;
}

.general-container{
    height: 100%;
    display: flex;
    align-items: center;
}

.general-container h1 {
    font-size: 4.4vw;
    margin: 30px 0px;
    color: rgb(26, 32, 46);
}

.general-container h3 {
    font-size: 2.5vw;
    margin: 20px 0px;
    color: rgb(39, 51, 83);
}

.general-container button {
    padding: 8px;
    background-color: rgb(44, 81, 114);
    border-radius: 10%/20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(255, 255, 255);
    transition: all .3s ease-in-out;
    outline:none;
}
.general-container button:hover {
    cursor: pointer;
    background-color: rgb(32, 60, 85);
}

.general-container button:active {
    background-color: rgb(23, 43, 59);
}